* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Poppins';
    src: url("./assets/fonts/Poppins-Regular.ttf");
}



body {
    max-width: 1920px;
    margin: auto;
    font-family: 'Poppins';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right top, #1d6feb, #2455c6, #223da3, #1b2681, #101060);
}

h3 {
    display: inline;
    font-size: 1.25em;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    color: #aababf;
    margin-bottom: 10px;
}


.page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 70vh;
    background: #cae1eb25;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    padding: 10px;

}

form {
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

form div {
    width: 100%;



}

input {
    width: 100%;
    height: 3em;
    outline: none;
    border: none;
    border-radius: 10px;
    position: relative;
    padding: 0 0 0 3.82848392037%;
    font-size: 1em;
    background: AliceBlue;

}

input::placeholder {
    color: #fcdcdc;
    font-size: 1em;
}


button {
    width: 20%;
    height: 10%;
    cursor: pointer;
    box-shadow:inset 0px 1px 0px 0px #7a8eb9;
    background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
    background-color: #637aad;
    border-radius:4px;
    border:1px solid #314179;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:1em;
    font-weight:bold;
    padding:1.07033639144% 1.83486238532%;
    text-decoration:none;
    outline: none;
}

button:hover {
    background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
    background-color:#5972a7;
    color: #2cdb7e;
}

button:active {
    color: black;
}


.success {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.success .button {
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 3em;
    cursor: pointer;
    background: whitesmoke;
    user-select: none;
    background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    background-color:#77b55a;
    border-radius:3px;
    border:1px solid #4b8f29;
    color:#ffffff;
    font-family:Arial;
    font-size:28px;
    font-weight:bold;
    padding:9px 14px;
    text-decoration:none;
    text-shadow:0px 1px 0px #5b8a3c;
}

.success .button:hover {
    background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
    background-color:#72b352;
    color: white;
    border: 2px solid white;
}

.input-wrapper {
    width: 93.8829787234%;
    background: Aliceblue;
    border-radius: 10px;
}

.username, .password, .email {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

.hint {
    display: flex;
    justify-content: center;
    width: 90%;
    height:60%;
    color: #fafafa;
    background: rgba(102, 120, 127, 0.8);
    border: 1px solid grey;
    border-radius: 5px;
    position: absolute;
    bottom: -61%;
    z-index: 2312312321;
    animation: hintAppear 0.7s linear;
    filter: drop-shadow(3px 6px 13px rgba(0,0,0,0.5));
}



.hint p {
    text-align: center;
    font-family: Georgia,sans-serif;
    font-size: 1.2em;
}

.wrongInput {
    background: #e05a5a;
}

.correctInput {
   background: #5bc987;
    color: aliceblue;
}



@media screen and (max-width: 1280px) {
    form button {
        width: 30%;
        height: 12%;
    }
    .success .button {
        width: 40%;
    }


}

@keyframes hintAppear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}